<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Inicio de la plataforma</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Lecturas</a>
    </nav>


      <br>  
    <div class="container">
        <div class="col-md-5">
            <div class="card">
                <div class="card body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombre_libro" placeholder="Nombre del libro" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre_autor" placeholder="Autor" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="genero" placeholder="Género" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="editorial" placeholder="Editorial" class="form-control">
                        </div>
                        <br>
                        <button class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del libro</th>
                        <th>Autor</th>
                        <th>Género</th>
                        <th>Editorial</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < libros.length; i++){ %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= libros[i].nombre_libro %></td>
                            <td><%= libros[i].nombre_autor %></td>
                            <td><%= libros[i].genero %></td>
                            <td><%= libros[i].editorial %></td>
                        </tr>
                    <% } %>
                </tbody>

                </table>
        </div>
    </div>
</body>
</html>